openai-agents==0.3.1
python-dotenv==1.1.1
pyupbit==0.2.34
PyJWT==2.10.1
pandas==2.3.2
pandas_ta==0.4.71b0
schedule==1.2.2
streamlit==1.49.1
slack-bolt==1.25.0
setuptools==80.9.0
pymongo==4.15.1
plotly==6.3.0
pytz==2025.2
